.boxOne {
    border-color:gold;
    background-color: #282c34;
    position: absolute;
    min-height: 78%;
    /* height: 100px; */
    width: 38%;
    right: 19%;
}

.boxTwo {
    border-color:gold;
    background-color: #282c34;
    position: absolute;
    height: 78%;
    width: 38%;
    left: 3%;
}

.heading {
    position: absolute;
    color: white;
    top: 6rem;
    right: 4rem;
}
