.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./images/beam.jpg");
  background-size: 100%;
  min-width: 100%;
  min-height: 100vh;
}

.forms-wrapper {
  width: 950px;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e6e6e6;
  overflow: hidden;
}

.error {
  color: #e71d36;
  text-decoration: none;
  text-shadow: 2px 2px 3px black;
}
